<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Terapias | MB</title>
    <link rel="stylesheet" href="css/therapies.css" />
  </head>
  <body>
    <%- include('../templates/header') %>

    <main class="bodyMain__sectionContent">
      <section class="sectionsPage__therapies article">
        <article class="therapies__articles divContent-article">
          <div class="divContent__sections">
            <div class="divT-articles">
              <span
                ><h3>Psicoterapia</h3>
                <h3>online</h3></span
              >
              <div class="backgroundTitle__therapies"></div>
            </div>

            <div>
              <div class="d-none d-sm-block divContent__divP divP-article">
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Cupiditate excepturi aperiam quia, libero nostrum nam eum
                  dignissimos ducimus quaerat veniam reprehenderit molestias
                  officia corporis minima doloremque, voluptatem assumenda.
                  Nulla, soluta.
                </p>
              </div>

              <div class="d-none d-sm-block divList__benefit">
                <div class="benefit__contentDiv">
                  <div class="informationBenefit__div">
                    <div>
                      <ul>
                        <li>
                          <span
                            ><svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              fill="#48a198"
                              class="bi bi-check2-circle"
                              viewBox="0 0 16 16">
                              <path
                                d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0" />
                              <path
                                d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z" />
                            </svg>
                          </span>
                          <span>Beneficios</span>
                        </li>
                        <li>
                          <span
                            ><svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              fill="#48a198"
                              class="bi bi-check2-circle"
                              viewBox="0 0 16 16">
                              <path
                                d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0" />
                              <path
                                d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z" />
                            </svg>
                          </span>
                          <span>Beneficios</span>
                        </li>
                        <li>
                          <span
                            ><svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              fill="#48a198"
                              class="bi bi-check2-circle"
                              viewBox="0 0 16 16">
                              <path
                                d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0" />
                              <path
                                d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z" />
                            </svg>
                          </span>
                          <span>Beneficios</span>
                        </li>
                        <li></li>
                      </ul>
                    </div>
                  </div>
                  <div class="informationBenefit__div">
                    <div>
                      <ul>
                        <li>
                          <span
                            ><svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              fill="#48a198"
                              class="bi bi-check2-circle"
                              viewBox="0 0 16 16">
                              <path
                                d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0" />
                              <path
                                d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z" />
                            </svg>
                          </span>
                          <span>Beneficios</span>
                        </li>
                        <li>
                          <span
                            ><svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              fill="#48a198"
                              class="bi bi-check2-circle"
                              viewBox="0 0 16 16">
                              <path
                                d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0" />
                              <path
                                d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z" />
                            </svg>
                          </span>
                          <span>Beneficios</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

              <div class="d-none d-sm-block sectionInformation__divAditional">
                <div class="divAditional__information">
                  <div class="information__content-one">
                    <div class="content__title">
                      <div>
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="20"
                          height="20"
                          fill="#48a198"
                          class="bi bi-geo-alt"
                          viewBox="0 0 16 16">
                          <path
                            d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10" />
                          <path
                            d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                        </svg>
                      </div>
                      <div>
                        <h4>100%</h4>
                        <h4>Virtual</h4>
                      </div>
                    </div>
                    <div class="content__paragraph">
                      <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Totam fugiat
                      </p>
                    </div>
                  </div>
                  <div class="information__content-one">
                    <div class="content__title">
                      <div>
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="20"
                          height="20"
                          fill="#48a198"
                          class="bi bi-clock"
                          viewBox="0 0 16 16">
                          <path
                            d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71z" />
                          <path
                            d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0" />
                        </svg>
                      </div>
                      <div>
                        <h4>Horario</h4>
                      </div>
                    </div>
                    <div class="content__paragraph">
                      <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Totam fugiat
                      </p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="divB-article">
                <div class="article__containerButton">
                  <button class="navbar__divButton">Contactar</button>
                </div>
              </div>
            </div>
          </div>
        </article>
        <div class="divVideo__content">
          <iframe
            width="500"
            height="315"
            src="https://www.youtube.com/embed/ID_DEL_VIDEO"
            title="Todo lo que necesitas sobre Psicoterapia online"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
          </iframe>
          <div class="d-none d-lg-block">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem
              ratione iure voluptatibus nisi in molestiae, fugiat excepturi
              commodi. Odio, fuga numquam eum neque unde dolorem cum.
              Voluptatibus alias nostrum nihil!
            </p>
          </div>
        </div>
      </section>

      <section
        class="sectionContent__section-two sectionsPage__therapies article">
        <div class="divVideo__content divVideo__sectionTwo-therapies">
          <iframe
            width="500"
            height="315"
            src="https://www.youtube.com/embed/ID_DEL_VIDEO"
            title="Todo lo que necesitas sobre Psicoterapia online"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
          </iframe>
          <div class="d-none d-lg-block divVideoP__sectionTwo-therapies">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem
              ratione iure voluptatibus nisi in molestiae, fugiat excepturi
              commodi. Odio, fuga numquam eum neque unde dolorem cum.
              Voluptatibus alias nostrum nihil!
            </p>
          </div>
        </div>
        <article
          class="therapies__articles divContent-article therapiesArticle__sectionTwo">
          <div
            class="divContent__sections contentSection__sectionTwo-therapies">
            <div class="divT-articles divT__sectionTwo-therapies">
              <span
                ><h3>Psicoterapia</h3>
                <h3>presencial</h3></span
              >
              <div
                class="backgroundTitle__therapies backgroundT__sectionTwo-therapies"></div>
            </div>

            <div>
              <div
                class="d-none d-sm-block divContent__divP divP-article divP__sectionTwo-therapies">
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Cupiditate excepturi aperiam quia, libero nostrum nam eum
                  dignissimos ducimus quaerat veniam reprehenderit molestias
                  officia corporis minima doloremque, voluptatem assumenda.
                  Nulla, soluta.
                </p>
              </div>

              <div class="d-none d-sm-block divList__benefit">
                <div
                  class="benefit__contentDiv divBenefit__sectionTwo-therapies">
                  <div
                    class="informationBenefit__div divBenefit__sectionTwo-therapies">
                    <div>
                      <ul>
                        <li>
                          <span
                            ><svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              fill="#48a198"
                              class="bi bi-check2-circle"
                              viewBox="0 0 16 16">
                              <path
                                d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0" />
                              <path
                                d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z" />
                            </svg>
                          </span>
                          <span>Beneficios</span>
                        </li>
                        <li>
                          <span
                            ><svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              fill="#48a198"
                              class="bi bi-check2-circle"
                              viewBox="0 0 16 16">
                              <path
                                d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0" />
                              <path
                                d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z" />
                            </svg>
                          </span>
                          <span>Beneficios</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div
                    class="informationBenefit__div divBenefit__sectionTwo-therapies">
                    <div>
                      <ul>
                        <li>
                          <span
                            ><svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              fill="#48a198"
                              class="bi bi-check2-circle"
                              viewBox="0 0 16 16">
                              <path
                                d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0" />
                              <path
                                d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z" />
                            </svg>
                          </span>
                          <span>Beneficios</span>
                        </li>
                        <li>
                          <span
                            ><svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              fill="#48a198"
                              class="bi bi-check2-circle"
                              viewBox="0 0 16 16">
                              <path
                                d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0" />
                              <path
                                d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z" />
                            </svg>
                          </span>
                          <span>Beneficios</span>
                        </li>
                        <li>
                          <span
                            ><svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              fill="#48a198"
                              class="bi bi-check2-circle"
                              viewBox="0 0 16 16">
                              <path
                                d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0" />
                              <path
                                d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z" />
                            </svg>
                          </span>
                          <span>Beneficios</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

              <div class="d-none d-sm-block sectionInformation__divAditional">
                <div class="divAditional__information">
                  <div
                    class="information__content-one divInformation__sectionTwo-therapies">
                    <div
                      class="content__title contentTitle__sectionTwon-therapies">
                      <div>
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="20"
                          height="20"
                          fill="#48a198"
                          class="bi bi-geo-alt"
                          viewBox="0 0 16 16">
                          <path
                            d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10" />
                          <path
                            d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                        </svg>
                      </div>
                      <div>
                        <h4>Encuentranos</h4>
                        <h4>aqui</h4>
                      </div>
                    </div>
                    <div
                      class="content__paragraph contentParagraph__sectionTwo-therapies">
                      <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Totam fugiat
                      </p>
                    </div>
                  </div>
                  <div
                    class="information__content-one divInformation__sectionTwo-therapies">
                    <div
                      class="content__title contentTitle__sectionTwon-therapies">
                      <div>
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="20"
                          height="20"
                          fill="#48a198"
                          class="bi bi-clock"
                          viewBox="0 0 16 16">
                          <path
                            d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71z" />
                          <path
                            d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0" />
                        </svg>
                      </div>
                      <div>
                        <h4>Horario</h4>
                      </div>
                    </div>
                    <div
                      class="content__paragraph contentParagraph__sectionTwo-therapies">
                      <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Totam fugiat
                      </p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="divB-article">
                <div
                  class="article__containerButton containerButton__sectionTwo-therapies">
                  <button class="navbar__divButton">Contactar</button>
                </div>
              </div>
            </div>
          </div>
        </article>
      </section>
      <section class="sectionContent__section-three">
        <div class="sectionThree__hybridService">
          <div><h2>Hibrido</h2></div>
          <div>
            <button
              class="moreInformation__hybrid"
              data-bs-toggle="modal"
              data-bs-target="#masInformacion_terapiaHibrida">
              Mas informacion
            </button>
          </div>
        </div>
      </section>
      <section class="sectionContent__section-four">
        <div class="sectionFour__therapies">
          <div class="therapies__mainInformation">
            <div>
              <h2>Terapias</h2>
            </div>
            <div>
              <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. In
                accusantium iusto reiciendis libero dolores sunt, nostrum odit
                ducimus atque omnis enim ad eaque illum minima minus magni, sit
                laboriosam. Soluta!
              </p>
            </div>
          </div>
          <div>
            <%- include('../templates/F&Q', {
              option: false,
              content: '',
              questions: [
            {q: "Terapia 1", a: "Lorem ipsu dolor..."},
            {q: "Terapia 2", a: "Lorem ipsu dolor..."},
            {q: "Terapia 3", a: "Lorem ipsu dolor..."},
            {q: "Terapia 4", a: "Lorem ipsu dolor..."},
            {q: "Terapia 5", a: "Lorem ipsu dolor..."}
            ]
          })%>
          </div>
        </div>
      </section>
      <section class="sectionContent__section-five">
        <div class="sectionFive__containerInformation">
          <div>
            <h3>Asistencias a <span>ofrecer</span></h3>
          </div>
          <div>
            <ul>
              <li>Lorem...</li>
              <li>Lorem...</li>
              <li>Lorem...</li>
              <li>Lorem...</li>
              <li>Lorem...</li>
              <li>Lorem...</li>
              <li>Lorem...</li>
              <li>Lorem...</li>
              <li>Lorem...</li>
            </ul>
          </div>
        </div>
        <div>
          <%- include('../templates/directContact') %>
        </div>
      </section>
      <section class="sectionContent__section-six">
        <%- include('../templates/F&Q', {
          option: true,
          content: 'lorem ipsu dolor...',
          questions: [
          {q: "Pregunta 1", a: "Lorem ipsu dolor..."},
          {q: "Pregunta 2", a: "Lorem ipsu dolor..."},
          {q: "Pregunta 3", a: "Lorem ipsu dolor..."},
          {q: "Pregunta 4", a: "Lorem ipsu dolor..."}
          ]
        }) %>
      </section>
    </main>

    <div
      class="modal fade"
      id="masInformacion_terapiaHibrida"
      tabindex="-1"
      aria-labelledby="modalScrollLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalScrollLabel">
              <span>Psicoterapia</span><span>hibrida</span>
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Cerrar"></button>
          </div>
          <div class="modal-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
            <div class="divList__benefit mt-3 mb-3">
              <div class="benefit__contentDiv">
                <div class="informationBenefit__div">
                  <div>
                    <ul>
                      <li>
                        <span
                          ><svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="16"
                            height="16"
                            fill="#48a198"
                            class="bi bi-check2-circle"
                            viewBox="0 0 16 16">
                            <path
                              d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0" />
                            <path
                              d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z" />
                          </svg>
                        </span>
                        <span>Beneficios</span>
                      </li>
                      <li>
                        <span
                          ><svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="16"
                            height="16"
                            fill="#48a198"
                            class="bi bi-check2-circle"
                            viewBox="0 0 16 16">
                            <path
                              d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0" />
                            <path
                              d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z" />
                          </svg>
                        </span>
                        <span>Beneficios</span>
                      </li>
                      <li>
                        <span
                          ><svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="16"
                            height="16"
                            fill="#48a198"
                            class="bi bi-check2-circle"
                            viewBox="0 0 16 16">
                            <path
                              d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0" />
                            <path
                              d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z" />
                          </svg>
                        </span>
                        <span>Beneficios</span>
                      </li>
                      <li></li>
                    </ul>
                  </div>
                </div>
                <div class="informationBenefit__div">
                  <div>
                    <ul>
                      <li>
                        <span
                          ><svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="16"
                            height="16"
                            fill="#48a198"
                            class="bi bi-check2-circle"
                            viewBox="0 0 16 16">
                            <path
                              d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0" />
                            <path
                              d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z" />
                          </svg>
                        </span>
                        <span>Beneficios</span>
                      </li>
                      <li>
                        <span
                          ><svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="16"
                            height="16"
                            fill="#48a198"
                            class="bi bi-check2-circle"
                            viewBox="0 0 16 16">
                            <path
                              d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0" />
                            <path
                              d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z" />
                          </svg>
                        </span>
                        <span>Beneficios</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="sectionInformation__divAditional mb-3">
              <div class="d-flex flex-column divAditional__information">
                <div class="information__content-one">
                  <div class="content__title">
                    <div>
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="20"
                        height="20"
                        fill="#48a198"
                        class="bi bi-geo-alt"
                        viewBox="0 0 16 16">
                        <path
                          d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10" />
                        <path
                          d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                      </svg>
                    </div>
                    <div>
                      <h4>Totalmente</h4>
                      <h4>flexible</h4>
                    </div>
                  </div>
                  <div class="content__paragraph">
                    <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Totam fugiat
                    </p>
                  </div>
                </div>
                <div class="information__content-one">
                  <div class="content__title">
                    <div>
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="20"
                        height="20"
                        fill="#48a198"
                        class="bi bi-clock"
                        viewBox="0 0 16 16">
                        <path
                          d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71z" />
                        <path
                          d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0" />
                      </svg>
                    </div>
                    <div>
                      <h4>Horario</h4>
                    </div>
                  </div>
                  <div class="content__paragraph">
                    <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Totam fugiat
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-center p-3">
              <button class="navbar__divButton">Contactar</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include('../templates/whatsContainer') %>
    <%- include('../templates/footer.ejs')%>
  </body>
</html>
